.about {
    text-align: center;
    margin-top: 3rem;
    font-size: 1.75rem;
    border-bottom: 2px solid @lg;
   

    p {
        margin-bottom: 20px;
        color: @grey    
    }

    i {
        margin-bottom: 30px;
        color: @lg;
    }
}


