
.container {

    width: @wide;
    margin: 0 auto;
}

.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}


.about {
    background: @white;
}

hr {
    border-top: @lg;
}

