header {
    background-image: url("images/samson-creative-91091-unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;  
    height: 100vh;

}

h1 {
    font-size: 3.25em;
    font-family: anton;
    color: @white;
}

nav {
    display: flex;
    justify-content: flex-end;   
}

a {
    font-size: 1.25rem;
    color: @white;
    text-decoration: none;
    margin: 10px 20px 0px 0px;
}

.head p {
    font-size: 2rem;
}

.mentor-button {
    .buttons
}

.mentor-button:hover {
    background-color: @white;
}
.business-button {
    .buttons
}

.business-button:hover {
    background-color: @white;
}
.head-content {
    display: flex;
}

.header-image {
    width: 400px;
}

