header {
    // background-image: linear-gradient(to top, #111011, #1d1a1e, #28242d, #312f3c, #393b4c, #454d5f, #526071, #607483, #7e929c, #9fb1b5, #c
    background-image: linear-gradient(to right top,#5574f7,#4086fd,#3196ff,#31a4ff,#42b2ff,#46b3ff,#4ab5ff,#4eb6ff,#46abff,#45a0ff,#4c94fd,#5887f9);

    background-attachment: fixed;  
    height: 100vh;

}

h1 {
    .h1;
}

nav {
    display: flex;
    justify-content: flex-end;   
}

a {
    font-size: 1.25rem;
    color: #5887f9 ;
    text-decoration: none;
    margin: 10px 20px 0px 0px;
}

.head p {
    font-family: Concert One, cursive;
    font-size: 2rem;
}

// .register-button {
//     .button
// }

// .register-button:hover {
//     background-color: @white;
//     color: black;
// }

.head-content {
    display: flex;
}

.header-image {
    width: 400px;
}

#dropbtn {
    background-color: @clear ;
    color: white;
    padding: 16px;
    font-size: 30px;
    border: none;

    .dropdown {
        position: relative;
        display: inline-block;
      }
    
      
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: @clear;
    min-width: 160px;

    a {
        font-family: Concert One, cursive;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;

    }
}


.dropdown-content a:hover {
    background-color: #5F76D0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: @white; 
    color: black;
}
